@media print {
	pre,
	figure.paragraph-image {
	    page-break-inside: avoid !important;
	    page-break-before: auto !important;
	}

	div#root > div > div.s > :not(article),
	article > :not(div) {
	    display: none !important;
	}
}