@media print {
	pre,
	figure.paragraph-image {
	    page-break-inside: avoid !important;
	    page-break-before: auto !important;
	}

	div#root > div > :not(article) {
	    display: none !important;
	}
}